.bl_form {
	@include maxmq(pc) {
		padding: 62px 30px 100px;
	}
	@include maxmq(tab) {
		padding: 40px 0 80px;
		width: 80%;
	}
	margin: 0 auto;
	max-width: 930px;
	padding: 62px 0 100px;

	select:hover {
		cursor: pointer;
	}
}

.bl_form_block {
	align-items: center;
	display: flex;
	@include maxmq(tab) {
		display: block;
	}
	&:not(:first-of-type) {
		margin-top: 40px;
	}
	&:nth-of-type(5) {
		align-items: flex-start;
		margin-top: 53px;
	}

	&:first-of-type {
		position: relative;
	}
	&:first-of-type::after {
		content: "▼";
		@include maxmq(tab) {
			top: 2.5em;
		}
		position: absolute;
		right: .8em;
		top: .4em;
	}
}


.el_form_label {
	flex-basis: 180px;
	flex-shrink: 0;
	@include maxmq(tab) {
		font-size: rem(15);
	}
	@include f_around(21 , 31.5 , 700 ,false);
	&::after {
		color: #f00;
		content: "*";
	}
}

.el_form_area {
	background-color: #e6ebe0;
	border: 0;
	border-radius: 4px;
	@include maxmq(tab) {
		margin: 8px 0 0 0;
	}
	margin-left: 46px;
	padding: .5em;
	width: 100%;
}

.el_form_textarea {
	height: 131px;
}

.el_form_btn:hover {
	cursor: pointer;
}
