.bl_overlay {
	background-color: rgba(0, 0, 0, .7);
	display: none;
	height: 100%;
	@include z-index(overlay);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.bl_overlay:hover {
	cursor: pointer;
}

.bl_modal_window {
	background-image: url(../../assets/img/photo/modal/modal_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
	height: auto;
	height: 703px;
	@include z-index(modal);
	@include maxmq(pc) {
		height: 80vh;
		width: 90%;
	}
	@include maxmq(tab) {
		background-image: url(../../assets/img/photo/modal/modal_bgSP.png);
		background-size: cover;
		height: auto;
		width: 300px;
	}
	@include maxmq(sp) {
		background-image: url(../../assets/img/photo/modal/modal_bgSP.png);
		top: 50%;
		width: 300px;
	}
	left: 50%;
	overflow: scroll;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 872px;
	@media screen and (max-width: 360px) {
		top: 85%;
	}
}

.el_modal_bg {
	height: 100%;
	@include maxmq(tab) {
		height: auto;
	}
	width: 100%;
}

.bl_modal_windowInner {
	align-items: center;
	display: flex;
	@include z-index(modalInnre);
	@include maxmq(pc) {
		padding: 150px 60px 40px 50px;
	}
	justify-content: space-between;
	padding: 70px 60px 40px 50px;
	@media screen and (max-width: 900px) {
		padding: 180px 20px 40px 30px;
		width: 100%;
	}
	@media screen and (max-width: 800px) {
		padding: 160px 20px 40px 30px;
	}
	@media screen and (max-width: 780px) {
		flex-direction: column;
		padding: 80px 20px 40px 30px;
		width: 100%;
	}
}

.bl_modal_text {
	color: $sub_color;
	@include f_around(15 , 22.5 ,false ,false);
	margin-top: 40px;
	@media screen and (max-width: 900px) {
		margin-top: 20px;
	}
	@media screen and (max-width: 780px) {
		font-size: rem(14);
		margin-top: 40px;
	}
}

.el_modal_textWrap {
	margin-top: 1.5em;
}

.el_button_close {
	@include maxmq(pc) {
		top: 18%;
	}
	@include maxmq(tab) {
		right: 10px;
		top: 3%;
	}
	position: absolute;
	right: 65px;
	top: 35px;
}

.el_button_close:hover img {
	cursor: pointer;
}

.bl_modal_innerBlock {
	@include maxmq(tab) {
		width: 100%;
	}
	width: 60%;
}

.el_modal_tree {
	flex-shrink: 0;
	@include maxmq(tab) {
		display: none;
	}
	width: 90px;
	img {
		height: 100%;
	}
}
.el_modal_treeSP {
	@include minmq(tab) {
		display: none;
	}
	@include maxmq(tab) {
		display: block;
		margin-top: 5px;
	}
}

.el_modal_img {
	@media screen and (max-width: 900px) {
		height: 200px;
		text-align: center;
		img {
			height: 100%;
		}
	}
	@media screen and (max-width: 780px) {
		height: 175px;
	}
}

// カルーセルスライダークリック時
.bl_modal_slide {
	display: none;
	@include z-index(modal);
	@include maxmq(tab) {
		width: 80vw;
	}
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;

	img {
		width: 100%;
	}
}
