/* 共通モジュールのスタイル */
/************************************************/
.el_section_title {
	color: $accent_color;
	@include l_height(18 , 27);
	@include maxmq(sp) {
		@include f_around(15 , 22.5 , 700 , false);
	}
	padding: 0 20px;
	position: relative;
	text-align: center;

	&::after {
		display: block;
		@include f_around(45 , 45 , 700 , false);
		@include maxmq(sp) {
			font-size: rem(30);
		}
		text-transform: capitalize;
	}
}

.el_title_treeFirst , .el_title_treeSecond {
	@include maxmq(pc) {
		display: none;
	}
}

.el_title_SPtreeFirst , .el_title_SPtreeSecond {
	@include minmq(pc) {
		display: none;
	}
	@include maxmq(pc) {
		display: block;
		width: 200px;
		img {
			width: 100%;
		}
	}
	@include maxmq(tab) {
		width: 18vw;
	}
	@include maxmq(sp) {
		width: 21vw;
	}
}

.el_section_concept::after {
	content: "concept";
}
.el_section_service::after {
	content: "service";
}
.el_section_plan::after {
	content: "plan";
}
.el_section_activety::after {
	content: "activety";
}
.el_section_information::after {
	content: "information";
}
.el_section_faq::after {
	content: "faq";
	text-transform: uppercase;
}
.el_section_contact::after {
	content: "contact";
}

// service
.el_section_service {
	margin: 0 auto;
	margin-top: 80px;
	max-width: 1250px;
	text-align: center;
	&::before {
		content: url(../../assets/img/symbol/service/humans.svg);
		@include maxmq(full) {
			right: 20px;
		}
		@include maxmq(pc) {
			background-image: url(../../assets/img/symbol/service/humans.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			height: 150px;
			@include maxmq(sp) {
				height: 82px;
				top: -20px;
				width: 55px;
			}
			top: -50px;
			width: 120px;
		}
		position: absolute;
		right: -30px;
		top: -30px;
	}
}

.el_section_subTitle {
	@include maxmq(tab) {
		opacity: 0;
	}
	margin-top: 80px;
	text-align: center;
}

// Plan
.un_plan_titleWrap {
	padding-top: 80px;
}

// activety
.el_section_activety {
	padding-top: 80px;
}

// information
.el_section_information {
	@include maxmq(sp) {
		padding-top: 0;
	}
	padding-top: 68px;
}

// faq
.un_faq_titleWrap {
	padding-top: 95px;
}

// contact
.el_section_contact {
	@include maxmq(sp) {
		padding-top: 0;
	}
	padding-top: 80px;
}

@include maxmq(sp) {
	.el_section_title {
		margin-top: 60px;
	}
	.el_section_activety {
		margin-top: 0;
	}
}
.el_section_concept , .el_section_plan , .el_section_faq {
	@include maxmq(sp) {
		margin-top: 0;
	}
}
