/* plan */
.un_plan_read {
	color: $sub_color;
	margin-top: 50px;
	text-align: center;
}

.un_addition_container {
	color: $accent_color;
	display: flex;
	justify-content: center;
	margin-top: 33px;
}

.el_accent_icon {
	display: inline-block;
	margin-left: 1em;
}
