/* service */
.un_service_text {
	color: $accentSub_color;
	@include maxmq(sp) {
		font-size: 3.8vw;
		margin: 19px auto 0;
	}
	@include maxmq(tab) {
		padding: 0 20px;
	}
	margin-top: 38px;
	text-align: center;
}

.un_point_contaier {
	@include maxmq(full) {
		padding: 0 10px 80px;
	}
	@include maxmq(tab) {
		margin-top: -50px;
		padding: 0 0 60px 0;
	}
	margin-top: -17px;
	padding-bottom: 80px;
}

.un_point_block {
	align-items: flex-start;
	display: flex;
	@include maxmq(pc) {
		align-items: center;
		flex-direction: column;
	}
	@include maxmq(sp) {
		padding: 0 35px;
	}
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1250px;
}

.un_point_list {
	align-items: center;
	display: flex;
	flex-direction: column;

	a {
		display: block;
	}
}

.un_point_sub {
	font-weight: 500;
	transition: background-color .2s , color .2s;
}

.un_point_list:first-of-type {
	@include maxmq(full) {
		margin-left: 0;
	}
	@include maxmq(pc) {
		margin-left: 0;
		width: 100%;
	}

	.un_point_aboutWrap {
		@include maxmq(pc) {
			margin-left: 0;
		}
		margin-left: 15px;
	}

	.un_point_sub:hover {
		background-color: #568932;
		a {
			text-decoration: none;
		}
	}
}

.un_point_list:nth-of-type(2) {
	@include maxmq(pc) {
		padding-left: 0;
		width: 100%;
	}
	@include maxmq(sp) {
		margin-top: 10px;
	}
	padding-left: 20px;

	.un_point_sub {
		background-color: $sub_color;
		border: 2px solid $accentSub_color;
		line-height: 34px;
		transition: background-color .2s;
		z-index: 2;

		a {
			color: $accentSub_color;
		}

		&:hover {
			background-color: #70a24d;
			cursor: pointer;

			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.un_point_sub:hover::after {
		color: #fff;
	}
}

.un_point_after {
	padding-left: .5em;
}

.un_point_list:last-of-type {
	@include maxmq(full) {
		margin-left: 0;
	}
	@include maxmq(pc) {
		width: 100%;
	}
	@include maxmq(sp) {
		margin-top: 10px;
	}

	.un_point_aboutWrap {
		@include maxmq(pc) {
			margin-left: 0;
		}
		margin-left: -35px;
	}
}

.un_point_aboutWrap {
	text-align: center;
	width: 100%;

	.un_point_head {
		font-size: rem(27);
		font-weight: 700;
		height: 52px;
		@include maxmq(sp) {
			font-size: rem(22);
			padding: 0 1em;
		}
		line-height: 52px;
		padding: 0 1.2em;
		@media screen and (max-width: 370px) {
			font-size: rem(18);
		}
	}

	.un_point_sub {
		margin-top: 10px;
		position: relative;
		width: 242px;
	}
}

.un_point_text {
	color: $accentSub_color;
	font-weight: 700;
	@include maxmq(sp) {
		font-size: rem(15);
		font-weight: 500;
	}
	margin-top: 12px;
}

.un_point_img {
	@include maxmq(pc) {
		height: auto;
		min-width: 300px;
		width: 50%;
		img {
			height: auto;
		}
	}
	img {
		height: 100%;
		width: 100%;
	}
}
