/* plan */
.un_plan_read {
	color: $sub_color;
	@include maxmq(tab) {
		margin: 0 auto;
		margin-top: 30px;
		width: 80%;
	}
	@include maxmq(sp) {
		font-size: rem(15);
		width: 70%;
	}
	margin-top: 50px;
	text-align: center;
}

.un_addition_container {
	color: $accent_color;
	display: flex;
	@include maxmq(sp) {
		font-size: rem(11);
		margin-top: 20px;
	}
	justify-content: center;
	margin-top: 33px;
	padding: 0 30px;
}

.el_accent_icon {
	display: inline-block;
	margin-left: 1em;
}
